<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="mim-dialog">
  <template>
    <style>
      :host {
      }
      [hidden] {
        display: none !important;
      }
    </style>
    <paper-dialog id="dialog" restore-focus-on-close
        on-iron-overlay-closed="cancel">
      <div>
        <span id="dialogHtml"></span>
        <span id="dialogText">[[text]]</span>
        <div hidden$=[[!showTextarea]]>
          <paper-textarea id="dialogTextarea" cols="60" autofocus="true"
              on-keydown="checkEnter">
          </paper-textarea>
        </div>
      </div>
      <paper-button on-tap="cancel" hidden$=[[!cancelLabel]]>[[cancelLabel]]</paper-button>
      <paper-button on-tap="confirm" hidden$=[[!confirmLabel]]>[[confirmLabel]]</paper-button>
    </paper-dialog>
  </template>
</dom-module>

<script src="mim-dialog.js"></script>
