<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="mim-dialog">
  <template>
    <style>
      :host {
      }
      #container {
        height: 100%;
        width: 100%;
      }
      #dialog {
        display: block;
        padding: 3px;
        width: max-content;
        border: 2px solid black;
      }
    </style>
    <div id="container">
      <div id="dialog">
        <slot name="content"></slot>
      </div>
    </div>
  </template>
</dom-module>

<script src="mim-dialog.js"></script>
