<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../components/mim-image/mim-image.html">
<link rel="import" href="../../components/mim-nav/mim-nav.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="mimview-app">
  <template>
    <style>
      :host {
        height: 100%;
      }
      #main {
        display: -webkit-flex;  /* Safari */
        display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;    /* Safari */
        flex-wrap: nowrap;
        -webkit-flex-warp: nowrap;      /* Safari */
        height: 100%;
      }
      #nav {
        width: 20%;
        overflow: scroll;
        white-space: nowrap;
      }
      #image {
        flex-grow: 1;
        overflow: scroll;
        background-color: #eee;
        height: 100%;
        width: 80%;
      }
    </style>
    <div id="main">
      <mim-nav id="nav" imgsrc="{{imgsrc}}" imgsize="[[imgsize]]"></mim-nav>
      <mim-image id="image" imgsrc="[[imgsrc]]" imgsize="{{imgsize}}"></mim-image>
    </div>
  </template>
</dom-module>

<script src="mimview-app.js"></script>
