<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/vaadin-split-layout/vaadin-split-layout.html">
<link rel="import" href="../../components/mim-caption/mim-caption.html">
<link rel="import" href="../../components/mim-dialog/mim-dialog.html">
<link rel="import" href="../../components/mim-image/mim-image.html">
<link rel="import" href="../../components/mim-login/mim-login.html">
<link rel="import" href="../../components/mim-nav/mim-nav.html">

<dom-module id="mimview-app">
  <template>
    <style>
      :host {
        height: 100%;
      }
      [hidden] {
        display: none !important;
      }
      #main {
        display: -webkit-flex;  /* Safari */
        display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;    /* Safari */
        flex-wrap: nowrap;
        -webkit-flex-warp: nowrap;      /* Safari */
        height: 100%;
      }
      #leftbar {
        display: -webkit-flex;  /* Safari */
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;    /* Safari */
        flex-wrap: nowrap;
        -webkit-flex-warp: nowrap;      /* Safari */
        width: 20%;
      }
      #menu {
        background-color: pink;
        height: 20px;
        min-height: 20px;
        border: 1px black solid;
      }
      #menu paper-menu-button {
        padding: 0px;
      }
      #menu paper-menu-button paper-icon-button {
        padding: 0px;
        height: 20px;
      }
      #menuselection paper-item {
        min-height: 20px;
      }
      #menuselection paper-item:hover {
        font-weight: bold;
      }
      #nav {
        flex-grow: 1;
        overflow: scroll;
        white-space: nowrap;
      }
      #display {
        flex-grow: 1;
        overflow: scroll;
        background-color: #eee;
        height: 100%;
        width: 80%;
        position: relative;
        display: -webkit-flex;  /* Safari */
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;    /* Safari */
        flex-wrap: nowrap;
        -webkit-flex-warp: nowrap;      /* Safari */
      }
      #image {
        flex: auto;
      }
      .overflowhidden {
        overflow: hidden;
      }
      .overflowscroll {
        overflow: scroll;
      }
      #caption {
        flex: none;
      }
    </style>
    <mim-dialog id="dialog"></mim-dialog>
    <vaadin-split-layout id="main" hidden$="[[!loggedIn]]">
      <div id="leftbar">
        <div id="menu">
	  <paper-menu-button id="menubutton">
	    <paper-icon-button icon="menu" slot="dropdown-trigger" alt="menu">
            </paper-icon-button>
	    <paper-listbox slot="dropdown-content" id="menuselection" multi>
	      <paper-item on-click="helpClicked">Help</paper-item>
	      <paper-item on-click="logoutClicked">Logout</paper-item>
	    </paper-listbox>
	  </paper-menu-button>
        </div>
        <mim-nav id="nav" imgsrc="{{imgsrc}}" imgitem="{{imgitem}}"
            imgsize="[[imgsize]]" logged-in="{{loggedIn}}"></mim-nav>
      </div>
      <div id="display">
        <mim-image id="image" class="[[imgOverflowClass()]]"
            imgsrc="[[imgsrc]]" imgsize="{{imgsize}}"></mim-image>
        <mim-caption id="caption" hidden$=[[!hascaption]] imgitem="[[imgitem]]"></mim-caption>
      </div>
    </vaadin-split-layout>
    <mim-login id="mimlogin" hidden$="[[loggedIn]]"></mim-login>
  </template>
</dom-module>

<script src="mimview-app.js"></script>
