<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="mim-nav">
  <template>
    <style>
      :host {
      }
    </style>
    <div>
      This is the nav bar
    </div>
    <paper-button>Button in nav</paper-button>
    <paper-checkbox>Checkbox in nav</paper-checkbox>
  </template>
</dom-module>

<script src="mim-nav.js"></script>
