<link rel="import" href="../../modules/api-manager/api-manager.html">

<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="mim-nav">
  <template>
    <style>
      :host {
      }
      .nav-item {
        min-height: 0;
        padding-left: 2px;
        border: 1px black solid;
        line-height: 1;
      }
      .dir {
        background-color: lightblue;
      }
      .selected {
        background-color: lightgreen;
      }
      .path {
        font-weight: bold;
      }
      .size, .date {
        font-size: small;
      }
      .date {
        font-style: italic;
      }
      .text {
        white-space: normal;
      }
      .textError {
        color: red;
        white-space: normal;
      }
      paper-item {
        --paper-item-focused-before: {
          background-color: white;
        }
      }
    </style>
    <div id="listContainer">
      <template is="dom-repeat" id="list" items="[[rows]]" as="row">
        <paper-item on-click="rowClicked" class$="[[getRowClass(row, selectedIndex)]]">
          <span>
            <template is="dom-repeat" items="[[indentsForRow(row)]]">
              &nbsp;
            </template>
          </span>
          <span hidden$=[[row.isDir]]>
            <span class="path">[[row.name]]</span>
            <span class="size">[[sizeAsString(row)]]</span><br>
            <span class="date">[[row.modTimeStr]]</span><br>
            <span class="text">[[row.text]]</span>
            <span class="textError">[[row.textError]]</span>
          </span>
          <span hidden$=[[!row.isDir]]>
            <span class="path">[[row.path]]</span><br>
            <span class="text">[[row.text]]</span>
            <span class="textError">[[row.textError]]</span>
          </span>
        </paper-item>
      </template>
    </div>
  </template>
</dom-module>

<script src="mim-nav.js"></script>
