<link rel="import" href="../../modules/api-manager/api-manager.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="mim-nav">
  <template>
    <style>
      :host {
      }
      .nav-item {
        min-height: 0;
        padding-left: 2px;
      }
      .dir {
        background-color: lightblue;
      }
    </style>
    <div>
      This is the nav bar
    </div>
    <paper-button>Button in nav</paper-button>
    <paper-checkbox>Checkbox in nav</paper-checkbox>
    <div id="listContainer">
      <template is="dom-repeat" id="list" items="[[rows]]" as="row">
        <paper-item on-click="rowClicked" class$="{{getRowClass(row)}}">
          <template is="dom-repeat" items="{{indentsForRow(row)}}">
            &nbsp;
          </template>
          <span>[[row.path]]</span>
        </paper-item>
      </template>
    </div>
  </template>
</dom-module>

<script src="mim-nav.js"></script>
