<link rel="import" href="../../modules/api-manager/api-manager.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="mim-login">
  <template>
    <style>
      :host {
      }
      #container {
        background-color: white;
        position: absolute;
        width: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
      }
      .error {
        color: red;
        margin-top: 10px;
      }
    </style>
    <div id="container">

      <paper-input id="username" label="Username"></paper-input>
      <paper-input id="password" label="Password" type="password"></paper-input>

      <div class="buttons">
	<paper-button raised class="primary" on-tap="login">
          Login
        </paper-button>
        <span class="error">[[loginError]]</span>
      </div>

    </div>
  </template>
</dom-module>

<script src="mim-login.js"></script>
<script src="../../bower_components/cryptojslib/components/core.js"></script>
<script src="../../bower_components/cryptojslib/components/sha256.js"></script>
