<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="mim-image">
  <template>
    <style>
      :host {
      }
      #imgContainer {
        height: 100%;
        width: 100%;
      }
    </style>
    <div id="imgContainer">
      <a id="imgWrapper" tabindex=0>
        <img id="img" src="[[imgsrc]]">
      </a>
    </div>
  </template>
</dom-module>

<script src="mim-image.js"></script>
