<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="mim-image">
  <template>
    <style>
      :host {
      }
      #imgContainer {
        height: 100%;
        width: 100%;
      }
      #img {
        display: block;
        margin: auto;
      }
    </style>
    <div id="imgContainer" tabindex=0>
      <a id="imgWrapper">
        <img id="img" src="[[imgsrc]]" on-error="errorloading">
      </a>
    </div>
  </template>
</dom-module>

<script src="mim-image.js"></script>
